@charset "utf-8";
.bodytext {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    width: 867px;
    margin-right: auto;
    margin-left: auto;
}
