@charset "utf-8";
.collection {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}
