@charset "utf-8";
.container {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    background-color: #ddd;
    float: left;
    width: 1505px;
}
