@charset "utf-8";
.menu_bar {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FF0004;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}
